.blog-appear,
.blog-enter {
    max-height: 0;
    overflow: hidden;
}

.blog-appear.blog-appear-active,
.blog-enter.blog-enter-active {
    max-height: 500px;
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    transition: all 0.8s linear;
}

.blog-leave {
    max-height: 500px;
}

.blog-leave.blog-leave-active {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
